---
cloud:
  id: "dev-aic-ob-private-id"
  key: "dev-aic-ob-private-key"

environment:
  # CDK value: (Cloud Developer's Kit) development identity platform
  # CDM value: CDM (Cloud Deployment Model) identity cloud platform
  # FIDC value: Cloud Deployment Model) identity cloud platform
  cloudType: "CDK"
  projectId: "example-project"
  sapigType: "ob"

externalCert:
  fapiPepAs:
    mtlsCertPrefix: "dev-as-mtls"
    mtlsSecretName: "fapi-pep-as-mtls-tls-cert"
    tlsCertPrefix: "dev"
    tlsSecretName: "fapi-pep-as-tls-cert"
  fapiPepRs:
    mtlsCertPrefix: "dev-rs-mtls"
    mtlsSecretName: "fapi-pep-rs-mtls-tls-cert"
    tlsCertPrefix: "dev"
    tlsSecretName: "fapi-pep-rs-tls-cert"
  ob:
    signingkey:
      googleSecretName: "dev-ig-ob-signing-key"
  testTrustedDirectory:
    mtlscaSecretName: "test-trusted-directory-mtls-ca-certs"
    mtlscaGoogleSecretName: "test-trusted-directory-mtls-ca-certs"
    tlsSecretName: "test-trusted-directory-tls-cert"
    tlsCertPrefix: "dev"
  truststore:
    # Reusing the secret that configures AM to trust CAs for OAuth 2.0 tls_client_auth
    googleSecretName: "am-oauth2-ca-certs"

fapiPepAs:
  branch: "HEAD"
  configmap:
    amRealm: "alpha"
    asFQDN: "as-sapig.dev-cdk-ob.forgerock.financial"
    asMtlsFQDN: "as-mtls.sapig.dev-cdk-ob.forgerock.financial"
    baseFQDN: "dev-cdk-ob.forgerock.financial"
    cloudType: "CDK"
    identityPlatformFQDN: "iam.dev-cdk-ob.forgerock.financial"
    sapigType: "ob"
    testDirectoryFQDN: "test-trusted-directory.dev-cdk-ob.forgerock.financial"
    identityDefaultUserAuthenticationService: "PasswordGrant"
    identityGoogleSecretStoreName: "ESV"
    identityGoogleSecretStoreOAuth2CACertsSecretName: "esv-sapig-ob-am-oauth2-ca-certs"
    userObject: "user"
  deployment:
    image:
      repo: "europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/fapi-pep-as"
      tag: "latest"
  ingress:
    asMtls:
      host: "as-mtls.sapig.dev-cdk-ob.forgerock.financial"
      tls:
        host: "as-mtls.sapig.dev-cdk-ob.forgerock.financial"
    asSapig:
      host: "as-sapig.dev-cdk-ob.forgerock.financial"
      tls:
        host: "as-sapig.dev-cdk-ob.forgerock.financial"
    enableStudio: true
  secrets:
    igAgentID: "aWctYWdlbnQ="
    igAgentPassword: "cGFzc3dvcmQ="
    igClientID: "aWctY2xpZW50"
    igClientSecret: "cGFzc3dvcmQ="
    igIDMPassword: "MHBlbkJhbmtpbmch"
    igIDMUser: "c2VydmljZV9hY2NvdW50Lmln"
    igMetricsPassword: "cGFzc3dvcmQ="
    igMetricsUsername: "dXNlcg=="
    igTruststorePassword: "Y2hhbmdlaXQ="
    igOBASPSPSigningKeystoreKeypass: "cGFzc3dvcmQ="
    igOBASPSPSigningKeystoreStorepass: "cGFzc3dvcmQ="

fapiPepRs:
  branch: "HEAD"
  truststore:
    # Reusing the secret that configures AM to trust CAs for OAuth 2.0 tls_client_auth
    googleSecretName: am-oauth2-ca-certs
  signingkey:
    googleSecretName: ig-ob-signing-key
  configmap:
    amRealm: "alpha"
    asFQDN: "as-sapig.dev-cdk-ob.forgerock.financial"
    baseFQDN: "dev-cdk-ob.forgerock.financial"
    cloudType: "CDK"
    identityPlatformFQDN: "iam.dev-cdk-ob.forgerock.financial"
    igOBASPSPSigningKid: "0QidrUZc2Qk-PHqbYD5VEYGm_og"
    rsFQDN: "rs-sapig.dev-cdk-ob.forgerock.financial"
    rsMtlsFQDN: "rs-mtls.sapig.dev-cdk-ob.forgerock.financial"
    sapigType: "ob"
    testDirectoryFQDN: "test-trusted-directory.dev-cdk-ob.forgerock.financial"
    userObject: "user"
    identityDefaultUserAuthenticationService: "PasswordGrant"
    identityGoogleSecretStoreName: "ESV"
    identityGoogleSecretStoreOAuth2CACertsSecretName: "esv-sapig-ob-am-oauth2-ca-certs"
  deployment:
    image:
      repo: "europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/fapi-pep-rs-ob"
      tag: "latest"
  ingress:
    enableStudio: true
    rsMtls:
      host: "rs-mtls.sapig.dev-cdk-ob.forgerock.financial"
      tls:
        host: "rs-mtls.sapig.dev-cdk-ob.forgerock.financial"
    rsSapig:
      host: "rs-sapig.dev-cdk-ob.forgerock.financial"
      tls:
        host: "rs-sapig.dev-cdk-ob.forgerock.financial"
  secrets:
    igAgentID: "aWctYWdlbnQ="
    igAgentPassword: "cGFzc3dvcmQ="
    igClientID: "aWctY2xpZW50"
    igClientSecret: "cGFzc3dvcmQ="
    igIDMPassword: "MHBlbkJhbmtpbmch"
    igIDMUser: "c2VydmljZV9hY2NvdW50Lmln"
    igMetricsPassword: "cGFzc3dvcmQ="
    igMetricsUsername: "dXNlcg=="
    igOBASPSPSigningKeystoreKeypass: "cGFzc3dvcmQ="
    igOBASPSPSigningKeystoreStorepass: "cGFzc3dvcmQ="
    igTruststorePassword: "Y2hhbmdlaXQ="
    mongodbConsentPassword: "TDNoNXd4czRkRnZW"
    mongodbConsentUsername: "Y29uc2VudA=="
    mongodbTestFacilityPassword: "UlZkYjdZdlg5NjdR"
    mongodbTestFacilityUsername:  "dGVzdC1mYWNpbGl0eS1iYW5r"

fidcConfigurator:
  enabled: "true"
  branch: "HEAD"
  image:
    repo: "europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/secureopenbanking-uk-iam-initializer"
    tag: "latest"

remoteConsentServer:
  branch: "HEAD"
  image:
    repo: "europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/securebanking-openbanking-uk-rcs"
    tag: "latest"

remoteConsentServiceUserInterface:
  branch: "HEAD"
  image:
    repo: "europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/ui/rcs"
    tag: "latest"

spec:
  project: "default"
  destination:
    server: "https://kubernetes.default.svc"
    namespace: "dev"
  source:
    targetRevision: "HEAD"
  syncPolicy: 
    automated:
      prune: true
      selfHeal: true

testFacilityBank:
  branch: "HEAD"
  image:
    repo: "europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/securebanking-openbanking-uk-rs"
    tag: "latest"

testTrustedDirectory:
  branch: "HEAD"
  configmap:
    igTestDirectoryFQDN: "test-trusted-directory.dev-cdk-ob.forgerock.financial"
  deployment:
    image:
      repo: "europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/sapig-test-trusted-directory"
      tag: "latest"
  ingress:
    host: "test-trusted-directory.dev-cdk-ob.forgerock.financial"
    tls:
      host: "test-trusted-directory.dev-cdk-ob.forgerock.financial"
  secrets:
    igMetricsPassword: "dXNlcg=="
    igMetricsUsername: "cGFzc3dvcmQ="
    igTestDirectoryCAKeystoreKeypass: "UGFzc3cwcmQ="
    igTestDirectoryCAKeystoreStorepass: "UGFzc3cwcmQ="
    igTestDirectorySigningKeystoreKeypass: "UGFzc3cwcmQ="
    igTestDirectorySigningKeystoreStorepass: "UGFzc3cwcmQ="

testUserAccountCreator:
  branch: "HEAD"
  deployment:
    type: "CronJob"
  image:
    repo: "europe-west4-docker.pkg.dev/sbat-gcr-develop/sapig-docker-artifact/securebanking/securebanking-test-data-initializer"
    tag: "latest"